@import (reference) '../../../less/variables.less';

section#sign-up {
	>section {
		>div {
			display: flex;
			flex-direction: row;

			a {
				flex: 1;
				color: @medium-dark;
				padding: 1.5em;
				background-color: @lighter;
				font-size: 1em;
				font-weight: 400;
				text-align: center;
				text-decoration: none;
				text-transform: uppercase;
				cursor: pointer;

				&:hover {
					color: @white;
					background-color: @primary;
				}
			}
		}

		form {
			padding: 0.75em 1.5em;

			div.error {
				color: @white;
				padding: 0.75em 1.5em;
				margin-bottom: 1em;
				background-color: @primary;
				border-radius: 4px;
				font-size: 0.875em;
			}
		}
	}
}
